HELP.md
logs/
user.gradle
.gradle/
target/
branch/
out/
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Other ###
*.DS_Store
*.class
*.swp
*~

.shelf
.settings/
.classpath
.project
.jqwik-database